{% extends 'teacher/teacherbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/get/css/style.css">
<script>
  function validateForm() {

    var fileInput =
      document.getElementById('select_file');

    var filePath = fileInput.value;
    if (filePath == "") {
      alert("Please CSV file to upload");
      return false;
    }
    // Allowing file type
    var allowedExtensions =
      /(\.csv)$/i;

    if (!allowedExtensions.exec(filePath)) {
      alert('Invalid file type');
      fileInput.value = '';
      return false;
    }
    $('#waiting').show();
  }
</script>
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
</style>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'user-dashboard' %}">Dashboard</a>
            </li>
            <li aria-current="page">Uploading Students CSV</li>
        </ol>
    </nav>
</div>
{% if messages %}
    {% for message in messages %}
<div class="alert alert-info" id="success-message">{{ message }}</div>
{% endfor %}
{% endif %}
<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function() {
        // Select the success message
        var message = document.getElementById("success-message");
        if (message) {
            // Set a timer to hide the message after 5 seconds (5000 ms)
            setTimeout(function() {
                message.style.display = 'none';
            }, 5000);
        }
    });
</script>
<form method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Upload Student</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Select CSV File</label>
                            <input
                                type="file"
                                class="btn btn-primary"
                                name="select_file"
                                id="select_file"
                                required
                            >
                        </div>
                        <div class="mb-3 col-md-6">
                            <button  type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<div id="waiting" style="display:none">
  <img src="/static/image/processing-gif-image-5.gif">
</div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% endblock content %}
