{% extends 'teacher/teacherbase.html' %} {% load widget_tweaks %}
{% block content %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .modal-content {
    text-align: center;
    /* Center text inside the modal */
  }
</style>

<div class="row">
  <div class="col-12">
    <div class="col-xl-6 ">
      <div class="card">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <canvas id="schedulerChart" width="600" height="400"></canvas>
        <script>
          // Scheduler event data from your server-side template
          const schedulerEvents = [{% for scheduler in schedulers %} {
              title: "{{ scheduler.lesson.heading }}",
              start: "{{ scheduler.start|date:'Y-m-d\\TH:i:s' }}",
              end: "{{ scheduler.end|date:'Y-m-d\\TH:i:s' }}",
              extendedProps: {
                Grade: "{{ scheduler.grade.grade_name }}",
                Division: "{{ scheduler.division.division_name }}",
                Module: "{{ scheduler.module.module_name }}",
                Lesson: "{{ scheduler.lesson.heading }}",
                StatusSum: "{{ scheduler.status_sum|default:0 }}", // This is the progress value
              }
            },
            {% endfor %}
          ];
          // Prepare data for the chart
          const labels = schedulerEvents.map(event => event.title); // Extract titles for the labels (X-axis)
          const data = schedulerEvents.map(event => Math.min(100, Math.max(0, event.extendedProps
          .StatusSum))); // Extract progress as data (Y-axis)
          // Chart.js configuration
          const config = {
            type: 'bar', // Vertical bar chart
            data: {
              labels: labels, // Event titles as labels
              datasets: [{
                label: 'Progress (%)', // Chart label
                data: data, // Progress data for each event
                backgroundColor: '#4caf50', // Color of the bars
                borderColor: '#388e3c', // Border color for the bars
                borderWidth: 1, // Border width
              }]
            },
            options: {
              responsive: true,
              plugins: {
                legend: {
                  display: false, // Hides the legend
                },
                tooltip: {
                  // Customize tooltips
                  enabled: true, // Enable tooltips
                  callbacks: {
                    // Customize the content of the tooltip
                    label: function(tooltipItem) {
                      const index = tooltipItem.dataIndex;
                      const event = schedulerEvents[index];
                      const progress = data[index];
                      return `${event.title}: ${progress}%`; // Display lesson name and progress percentage
                    },
                    title: function(tooltipItem) {
                      const index = tooltipItem[0].dataIndex;
                      const event = schedulerEvents[index];
                      return `${event.title}`; // Title of the event
                    },
                    afterBody: function(tooltipItem) {
                      const index = tooltipItem[0].dataIndex;
                      const event = schedulerEvents[index];
                      // Adding more info like Grade, Division, etc.
                      return `Grade: ${event.extendedProps.Grade}\nDivision: ${event.extendedProps.Division}\nModule: ${event.extendedProps.Module}`;
                    }
                  },
                  // Tooltip styling options (optional)
                  backgroundColor: '#333', // Dark background for tooltips
                  titleColor: '#fff', // White title text color
                  bodyColor: '#fff', // White body text color
                  borderColor: '#888', // Border color of tooltip
                  borderWidth: 1, // Border width of tooltip
                  padding: 10, // Padding inside the tooltip
                }
              },
              scales: {
                x: {
                  beginAtZero: true, // Start the X-axis at 0
                  title: {
                    display: true,
                    text: 'Lesson' // X-axis title
                  },
                  ticks: {
                    autoSkip: true, // Automatically skips labels if there are too many
                    maxRotation: 45, // Rotate the labels if needed
                    minRotation: 45, // Minimum rotation angle for the labels
                  }
                },
                y: {
                  beginAtZero: true, // Start the Y-axis at 0
                  max: 100, // Set the maximum Y value to 100 for percentage
                  title: {
                    display: true,
                    text: 'Progress (%)' // Y-axis title
                  }
                }
              }
            }
          };
          // Render the chart on the canvas
          const ctx = document.getElementById('schedulerChart').getContext('2d');
          const schedulerChart = new Chart(ctx, config);
        </script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

        <link href="/static/get/vendor/fullcalendar/css/main.min.css" rel="stylesheet" />

      </div>
    </div>
    <div class="col-xl-6 ">
      <div class="card">

        <div class="card-body">
          <div id="calendar" class="app-fullcalendar fc fc-media-screen fc-direction-ltr fc-theme-standard"></div>
          <!-- Event Details Modal -->
          <div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="eventDetailsModalLabel">Event Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!-- Table to display event details -->
                  <table class="table table-bordered">
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>Title:</strong></td>
                      <td id="eventTitleDetails" style="text-align: left;"></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>Start:</strong></td>
                      <td id="eventStartDetails" style="text-align: left;"></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>End:</strong></td>
                      <td id="eventEndDetails" style="text-align: left;"></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>Grade:</strong></td>
                      <td id="eventGrade" style="text-align: left;"></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>Division:</strong></td>
                      <td id="eventDivision" style="text-align: left;"></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>Module:</strong></td>
                      <td id="eventModule" style="text-align: left;"></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>Lesson:</strong></td>
                      <td id="eventLesson" style="text-align: left;"></td>
                    </tr>
                    <tr>
                      <td style="text-align: left; width: 30%;"><strong>Complete:</strong></td>
                      <td id="eventStatusSum" style="text-align: left;">0 %</td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Required vendors -->
          <script src="/static/get/vendor/global/global.min.js"></script>
          <script src="/static/get/vendor/moment/moment.min.js"></script>

          <script src="/static/get/vendor/fullcalendar/js/main.min.js"></script>
          <script>
            "use strict";

            function fullCalender() {
              const schedulerEvents = [{%for scheduler in schedulers %} {
                  title: "{{ scheduler.lesson.heading }}",
                  start: "{{ scheduler.start|date:'Y-m-d\\TH:i:s' }}",
                  end: "{{ scheduler.end|date:'Y-m-d\\TH:i:s' }}",
                  extendedProps: {
                    Grade: "{{ scheduler.grade.grade_name }}",
                    Division: "{{ scheduler.division.division_name }}",
                    Module: "{{ scheduler.module.module_name }}",
                    Lesson: "{{ scheduler.lesson.heading }}",
                    StatusSum: "{{ scheduler.status_sum|default:0 }} %"
                  }
                },
                {% endfor %}
              ];
              var calendarEl = document.getElementById('calendar');
              var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                selectable: true,
                editable: false,
                initialDate: new Date().toISOString().slice(0, 10),
                events: schedulerEvents,
                eventClick: function(info) {
                  // Populate modal with event details
                  $('#eventTitleDetails').text(info.event.title);
                  $('#eventStartDetails').text(info.event.start.toLocaleString());
                  $('#eventEndDetails').text(info.event.end ? info.event.end.toLocaleString() : 'N/A');
                  $('#eventGrade').text(info.event.extendedProps.Grade);
                  $('#eventDivision').text(info.event.extendedProps.Division);
                  $('#eventModule').text(info.event.extendedProps.Module);
                  $('#eventTeacher').text(info.event.extendedProps.Teacher);
                  $('#eventLesson').text(info.event.extendedProps.Lesson);
                  $('#eventStatusSum').text(info.event.extendedProps.StatusSum);
                  // Show the modal
                  $('#eventDetailsModal').modal('show');
                }
              });
              calendar.render();
            }
            jQuery(window).on('load', function() {
              setTimeout(function() {
                fullCalender();
              }, 1000);
            });
          </script>

          
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}