{% extends 'staff/staffbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/get/css/style.css">
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
  </style>
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'user-dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'grade_create' %}">New Grade</a></li>
      <li aria-current="page">View Grades</li>
    </ol>
  </nav>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" id="success-message">{{ message }}</div>
    {% endfor %}
{% endif %}

<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function() {
        // Select the success message
        var message = document.getElementById("success-message");
        if (message) {
            // Set a timer to hide the message after 5 seconds (5000 ms)
            setTimeout(function() {
                message.style.display = 'none';
            }, 5000);
        }
    });
</script>

<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Grade Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for grade in grades %}
        <tr>
          <td> {{grade.grade_name}}</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'grade_update' grade.id %}"><span
                class="	far fa-edit"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'grade_delete' grade.id %}"
              onclick="return confirm('Are you sure?')"><span class="far fa-trash-alt"></span></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
    {% endblock content %}
