{% extends 'staff/staffbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/get/css/style.css">
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
</style>
<!-- ckeditor -->
<script src="/static/ckeditor/ckeditor.js"></script>
<script src="/static/ckeditor/js/sample.js"></script>
<link rel="stylesheet" href="/static/ckeditor/toolbarconfigurator/lib/codemirror/neo.css">
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'user-dashboard' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'lesson_create' %}">Create Lesson</a>
            </li>
            <li>
                <a href="{% url 'lesson_list' %}">Lesson List</a>
            </li>
            <li aria-current="page">Lesson Preview</li>
        </ol>
    </nav>
</div>
{% if messages %}
    {% for message in messages %}
<div class="alert alert-info" id="success-message">{{ message }}</div>
{% endfor %}
{% endif %}
<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function() {
        // Select the success message
        var message = document.getElementById("success-message");
        if (message) {
            // Set a timer to hide the message after 5 seconds (5000 ms)
            setTimeout(function() {
                message.style.display = 'none';
            }, 5000);
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="card">
    <div class="card-body">
        <div class="course-content d-flex justify-content-between flex-wrap">
            <div>
                <h3>{{heading|safe}}</h3>
                
            </div>
            
        </div>
        <div class="video-img style-1">
            <div class="view-demo">
                <iframe width="75%" height="60%" marginheight="0" frameborder="0" border="0" scrolling="auto" onload="autoResize(this);"
  src="{{video}}" allowfullscreen></iframe>
            </div>	
        </div>
        <div class="course-details-tab style-2 mt-4">
            <nav>
                  <div class="nav nav-tabs tab-auto" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about" type="button" role="tab" aria-controls="nav-about" aria-selected="true">About</button>
                    <button class="nav-link" id="nav-reqmaterial-tab" data-bs-toggle="tab" data-bs-target="#nav-reqmaterial" type="button" role="tab" aria-controls="nav-reqmaterial" aria-selected="false">Required Material</button>
                    <button class="nav-link " id="nav-digram-tab" data-bs-toggle="tab" data-bs-target="#nav-digram" type="button" role="tab" aria-controls="nav-digram" aria-selected="false">Circuit Daigram</button>

                    <button class="nav-link " id="nav-code-tab" data-bs-toggle="tab" data-bs-target="#nav-code" type="button" role="tab" aria-controls="nav-code" aria-selected="false">Code</button>
                    <button class="nav-link " id="nav-process-tab" data-bs-toggle="tab" data-bs-target="#nav-process" type="button" role="tab" aria-controls="nav-process" aria-selected="false">Procedure</button>
                    <button class="nav-link " id="nav-get-tab" data-bs-toggle="tab" data-bs-target="#nav-get" type="button" role="tab" aria-controls="nav-get" aria-selected="false">What you get</button>
                  </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <div class="about-content">
                        {{about|safe}}
                    </div>
                </div>
                <div class="tab-pane fade " id="nav-reqmaterial" role="tabpanel" aria-labelledby="nav-reqmaterial-tab">
                    {{reqmaterial|safe}}
                </div>

                <div class="tab-pane fade " id="nav-digram" role="tabpanel" aria-labelledby="nav-digram-tab">
                    {{digram|safe}}
                </div>

                <div class="tab-pane fade " id="nav-code" role="tabpanel" aria-labelledby="nav-code-tab">
                    {{code|safe}}
                </div>

                <div class="tab-pane fade " id="nav-process" role="tabpanel" aria-labelledby="nav-process-tab">
                    {{process|safe}}
                </div>

                <div class="tab-pane fade " id="nav-get" role="tabpanel" aria-labelledby="nav-get-tab">
                    {{get|safe}}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
