{% extends 'staff/staffbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/get/css/style.css">
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
</style>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'user-dashboard' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'school_create' %}">Create Schools</a>
            </li>
            <li>
                <a href="{% url 'school_list' %}">School List</a>
            </li>
            <li aria-current="page">Updating School</li>
        </ol>
    </nav>
</div>
{% if messages %}
    {% for message in messages %}
<div class="alert alert-info" id="success-message">{{ message }}</div>
{% endfor %}
{% endif %}
<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function() {
        // Select the success message
        var message = document.getElementById("success-message");
        if (message) {
            // Set a timer to hide the message after 5 seconds (5000 ms)
            setTimeout(function() {
                message.style.display = 'none';
            }, 5000);
        }
    });
</script>
<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Update School</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">School Name</label>
                            <input
                                type="text"
                                class="form-control"
                                name="school_name"
                                id="school_name"
                                value="{{ school.school_name }}"
                                required
                            >
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Contact Person</label>
                            <input
                                type="text"
                                class="form-control"
                                name="contact_person"
                                id="contact_person"
                                value="{{ school.contact_person }}"
                                required
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">School Email</label>
                            <input
                                type="email"
                                class="form-control"
                                name="email"
                                id="email"
                                value="{{ school.email }}"
                                required
                            >
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Address</label>
                            <input
                                type="text"
                                class="form-control"
                                name="address"
                                id="address"
                                value="{{ school.address }}"
                                required
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Phone Number</label>
                            <input
                                type="text"
                                class="form-control"
                                name="phone_number"
                                id="phone_number"
                                value="{{ school.phone_number }}"
                                required
                            >
                        </div>
                        <div class="mb-3 col-md-6">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
