{% extends 'teacher/teacherbase.html' %}
{% block content %}
{% load static %}
{% load steam_filters %}
<link rel="stylesheet" href="/static/get/css/style.css">
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
</style>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'user-dashboard' %}">Dashboard</a>
            </li>
            <li aria-current="page">Fee Setting</li>
        </ol>
    </nav>
</div>
{% if messages %}
    {% for message in messages %}
<div class="alert alert-info" id="success-message">{{ message }}</div>
{% endfor %}
{% endif %}
<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function() {
        // Select the success message
        var message = document.getElementById("success-message");
        if (message) {
            // Set a timer to hide the message after 5 seconds (5000 ms)
            setTimeout(function() {
                message.style.display = 'none';
            }, 5000);
        }
    });
</script>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Fee Setting</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Grade</th>
                                        <th>Total Fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for grade in grades %}
                                    <tr>
                                        <td>{{ grade.grade_name }}</td>
                                        <td>
                                            <input type="number" 
                                                   name="{{ grade.id }}" 
                                                   value="{{ grade_fee_dict|get_item_0:grade.id }}" 
                                                   class="form-control" 
                                                   min="0" />
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Fees</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock content %}
